@use '../../styles/tokens.scss' as *;
.SortBtn{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    background: none;
    border: none;
    span {
        color: $sortTextColor;
        text-decoration: none;
        padding: 8px 0;
        font-weight: 300;
        font-size: 1.1em;
    }
    
}
